.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.number {
  position: relative;
  font-size: 20px;
  margin-bottom: 5px;
}
.deleteIcon {
  background-image: url(../../assets/icons/delete-icon.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 20px;
  height: 20px;
}

.card {
  flex-grow: 1;
  height: 150px;

  padding: 10px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
}

.title {
  height: 15%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}
.image {
  height: 80%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.placeholder {
  object-fit: contain;
}
