@import '../../vars.css';

.guessGameplay {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  height: 100%;
}

.questionTitle {
  display: block;

  padding: 5px 20px;

  color: #3e3d78;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;

  text-align: center;
  white-space: pre-wrap;
}

.guessImageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 560px;
  height: 430px;
  margin: 0 auto;
}

.guessPicture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
